__pycache__/
.Python
build/
dist/
downloads/
profile_default/

ipython_config.py
.ipynb_checkpoints
notebooks/
.python-version
__pypackages__/

.env
.envrc
.venv
.venvs
env/
venv/
ENV/
env.bak/
venv.bak/

node_modules

.idea/
*.pickle
*.npy

Test/*
# data
midiv100000/ 
# virtualenv
mid/
old_stuff/
data/raw_data
data/processed_data
data
outputs
*.mid